a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.li1 {
  width: 80%;
  margin: 10px 10px;
  background-color: #FFEDFA;
  border-radius: 8px;
  padding: 20px;
}

.li2 {
  width: 80%;
  margin: 10px 10px;
  background-color: #FFEDFA;
  border-radius: 8px;
  padding: 20px;
}

.li3 {
  width: 80%;
  margin: 10px 10px;
  background-color: #FFEDFA;
  border-radius: 8px;
  padding: 20px;
}

.li4 {
  width: 80%;
  margin: 10px 10px;
  background-color: #FFEDFA;
  border-radius: 8px;
  padding: 20px;
}

a:hover {
  color: #FF0B55;
}

a:active {
  color: #FF0B55;
}

a:focus {
  outline: 1px solid black;
}


body {
  background-color: pink;
}

h1 {
  text-align: center;
}

.todo-card {
  background-color: #F5BABB;
  width: 40rem;
  margin: 150px auto;
  border-radius: 25px;
  border: black;
  border-style: solid;
}